<nav>
    <div class="site-title">
        <a href="/"><h1>Mano tinklarastis</h1></a>
        <p>Naujienos</p>
    </div>
    <ul>
        <li><a href="/">Pamokos</a></li>
        <li><a href="/apie">Apie</a></li>
        <li><a href="/blogs/create-blog">Kurti naujiena</a></li>
    </ul>
</nav>