<nav>
    <div class="site-title">
        <a href="/"><h1>Mano tinklarastis</h1></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/">Naujienos</a></li>
            <li><a href="/apie">Apie</a></li>
            <li><a href="/blogs/create-blog">Kurti naujieną</a></li>
            <li><a href="/loginPage">Prisijungti</a></li>
            <li><a href="/register">Registruotis</a></li>
        </ul>
    </div>
</nav>