<nav>
    <div class="site-title">
        <a href="/"><h1>Mano tinklarastis</h1></a>
    </div>
    <ul>
        <li><a href="/">Naujienos</a></li>
        <li><a href="/apie">Apie</a></li>
        <li><a href="/blogs/create-blog">Kurti naujieną</a></li>
        <% if (typeof user !== 'undefined' && user) { %>
            <li><span>Sveiki, <%= user.firstName %>!</span></li>
            <li><a href="/logout">Atsijungti</a></li>
        <% } else { %>
            <li><a href="/loginPage">Prisijungti</a></li>
            <li><a href="/register">Registruotis</a></li>
        <% } %>
    </ul>
</nav>