<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

    <div class="create-blog-content">
        <form>
            <label for="title">Pamokos pavadinimas</label>
            <input type="text" id="title" required>
            <label for="santrauka">Santrauka</label>
            <input type="text" id="santrauka" required>
            <label for="body">Turinys</label>
            <textarea id="body" required></textarea>
            <button type="submit">Sukurti pamoką</button>
        </form>
    </div>

<%- include('./partials/footer.ejs') %>